.c-button {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48c9b0;
    color: #273746;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
}

.c-button:disabled {
    background-color: #d1d3d5;
    color: #fff;
}