.c-file-input__form-container {
    width: 45%;
    min-height: 350px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #34495e;
    border-radius: 15px;
    box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    -webkit-box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    -moz-box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    padding: 30px 13px;
}

.c-file-input__upload-icon {
    width: 100px;
    height: 100px;
    opacity: 0.3;
}