.v-occupation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 20px 0 20px;
}

.v-occupation__title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #48c9b0;
}

.v-occupation__form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.v-occupation__form__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.v-occupation__input-container {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    -webkit-box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    -moz-box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    padding: 30px 13px;
}

@media (width <=900px) {
    .v-occupation__input-container {
        width: 90%;
    }
}