.v-user-register {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.v-user-register__title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #48c9b0;
}

.v-user-register__form-container {
    width: 90%;
}

.v-user-register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding: 20px 0;
}

.v-user-register__form-inputs {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    -webkit-box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    -moz-box-shadow: 6px 11px 22px -1px rgba(128, 139, 150, 0.76);
    padding: 30px 13px;
}