.v-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-form__left-side {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #34495e;
}

.v-form__left-side__title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.v-form__left-side__title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #48c9b0;
}

.v-form__right-side {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eaecee;
}

.v-form__view-step {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-form__navigation-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}